<h1>Here are all your tasks</h1>
<ul><% @tasks.each do |t| %>
  <li>
    <%= t.name %>
    <br>
    <%= link_to "View Task", task_path(t) %>
    <%= link_to "Edit Task", edit_task_path(t) %>
    <%= link_to "Delete", task_path(t), method: :delete, data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>
<br>
<p><%= link_to "Create new task", new_task_path %></p>
